<h1>Welcome to HHT Option Cards</h1>
<%# @projects.each do |project| %>
  <!-- <p>Project: <%#= project.name %>	</p> -->
<%# end %>

<h2><%= pluralize(@projects.length, 'project' ) %></h2>
<h2><%= pluralize(@option_cards.length, 'option card' ) %></h2>
